<%- include('inc/header.ejs') -%>
    <%- include('inc/navbar.ejs') -%>
        <div class="kartu">
            <div class="card" style="width: 18rem;">
                <img src="./img/SIP.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">
                        <%= name %>
                    </h3>
                    <p class="card-text">Selamat datang di website resmi sistem informasi perum</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <%- include('inc/footer.ejs') -%>