<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistem Informasi Perum - Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<div class="card shadow-lg my-5" style="width: 50rem; padding: 50px; margin: 0% 30%;">

    <form method="post" action="<%= url %>register/save">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomor Induk Keluarga</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" name="nik">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nama Lengkap</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomor Telepon</label>
            <input type="text" class="form-control" name="no_tlp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nomor Rumah</label>
            <input type="text" class="form-control" name="no_rumah">
        </div>
        <div class=" mb-3">
            <label for="exampleInputPassword1 " class="form-label ">Gender</label>
            <select class="form-select " aria-label="Default select example " name="gender">
                <option value="Laki-laki">Laki-laki</option>
                <option value="Perempuan">Perempuan</option>
            </select>
        </div>
        <div class="mb-3 ">
            <label for="exampleInputEmail1 " class="form-label ">Email address</label>
            <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp" name="username">
        </div>
        <div class="mb-3 ">
            <label for="exampleInputPassword1 " class="form-label ">Password</label>
            <input type="password" class="form-control " id="exampleInputPassword1 " name="password">
        </div>
        <div class=" mb-3 ">
            <button type="submit" class="btn btn-primary ">Submit</button>
        </div>
    </form>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>